.cont{
    height: 60vh;
    position: relative;
}
.cont-bg{
    height: 100%;
    width: 20px;
    background-color: rgb(60, 198, 60);
    position: absolute;
}
.cont-container{
    padding: 50px;
    display: flex;
}
.cont-left{
    flex: 1;
}
.cont-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-title{
    font-size: 60px;
    width: 80%;
}
.cont-item-content{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}
.cont-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
form{
    margin-top: 20px;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000000;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}
button{
    border: none;
    padding: 15px;
    background-color: rgb(60, 198, 60);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 480px){
    .cont-container{
        flex-direction: column;
        padding: 0px 50px;
    }
    .cont-title{
        font-size: 30px;
    }
    .cont-item-content{
        margin: 20px 0px;
        width: 100%;
    }
    .cont-desc{
        display: none;
    }
    form{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    input{
        width: 30%;
        margin: 10px;
        margin-left: 0px;
    }
    button{
        margin-top: 10px;
    }
    .cont{
        height: 100vh;
    }
}

@media (prefers-color-scheme: dark){
    h1,p,div{
      color: white;
    }
    div{
      background-color: black;
    }
  }
  
  @media (prefers-color-scheme: light){
    
  }