.abt{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.abt-l{
    /* display: flex; */
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    /* height: 100%; */
}

.abt-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
    /* position: relative; */
}
.abt-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .abt-card::after {
    content: "";
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    background-color: #333;
    left: 90px;
    top: 80px;
    z-index: -1;
} */
.abt-desc{
    margin: 20px 0 20px 0;
}
.abt-title{
    font-weight: 400;
}
.abt-award{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.abt2-img{
    height: 120px;
    width: 120px;
    border-radius: 20px;
}
.award-desc{
    font-weight: 300;
}
.abt2-award-text{
    /* width: 100%; */
}
.award-title{
    font-size: bold;
    color: gray;
    margin-bottom: 10px;
}
.mob{
    display: none;
}
@media screen and (max-width: 480px){
    .abt{
        flex-direction: column;
        text-align: center;
    }
    .abt-l{
        width: 100%;
        margin-top: 30px;
    }
    .abt-card{
        height: 30vh;
    }
    .abt-card::after,.abt-award,.abt-sub{
        display: none;
    }
    .abt-r{
        padding: 30px;
    }
    /* .mob{
        display:
    } */
    .des{
        display: none;
    }
}